.header { /* ヘッダー全体のレイアウト担当 */
    position: absolute;
    padding: 16px 24px 8px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logoLink { /* ヘッダーのリンク機能とsimpleの文字の画像2つのレイアウト担当 */
    display: flex; 
}
.logo { /* ヘッダーのsimpleの文字の画像のスタイル担当 */
    height: 38px;
    width: auto;
}
@media (max-width: 640px) {
    .header { /* ヘッダー全体のレイアウト担当 */
        padding: 24px 16px 8px;
    }
    .logo { /* ヘッダーのsimpleの文字の画像のスタイル担当 */
        height: 20px;
    }
}