.title {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 24px;
}
.text {
    font-size: 1rem;
    text-align: center;
}
.container { 
  position: relative;
  background-color: skyblue;
  width: 840px;
  margin: -40px auto 0;
  padding: 24px 40px;
  border-radius: var(--border-radius);
}
.newsLink { /* ニュース一覧への移動リンクのレイアウト担当 */
  position: absolute;
  right: -20px;
  bottom: -20px;
}
@media (max-width: 640px) {
  .container {
    width: calc(100% - 32px);
    padding: 16px 24px;
  }
 .newsLink {
  position: relative;
  right: auto;
  bottom: auto;
  margin-top: 16px;
 }
}