.top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  overflow: hidden;
  padding: 200px 0;
}
.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}
.description {
  text-align: center;
}
.subtitle {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.bgimg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  z-index: -1;
}
.news { /* ニュース欄全体のレイアウト担当 */
  position: relative;
  background-color: lightpink;
  width: 840px;
  margin: -40px auto 0;
  padding: 24px 40px;
  border-radius: var(--border-radius);
}
.newsTitle { /* 見出し文のスタイル担当 */
  font-size: 1.5rem;
}
.newsLink { /* ニュース一覧への移動リンクのレイアウト担当 */
  position: absolute;
  right: -20px;
  bottom: -20px;
}
@media (max-width: 1000px) {
  .news { /* ニュース欄全体のレイアウト担当 */
    width: calc(100% - 160px);
  }
}
@media (max-width: 640px) {
  .top {
    padding: 120px 16px;
    height: 200px;
  }
  .title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .description {
    font-size: 1rem;
  }
  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .bgimg {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 200px;
    object-fit: cover;
    z-index: -1;
  }
  .news {
    width: calc(100% - 32px);
    padding: 16px 24px;
  }
 .newsLink {
  position: relative;
  right: auto;
  bottom: auto;
  margin-top: 16px;
 }
}