.title {
  font-size: 2.4rem;
  margin-bottom: 10px;
  text-align: left;
}

.meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 1;
  gap: 24px;
  margin-bottom: 10px;
}

.image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

@media (max-width: 640px) {
  .title {
    font-size: 1.5rem;
    margin-bottom: 3px;
  }

  .meta {
    display: flex;
    align-items: center;
    margin-bottom:5px;
    font-size: 0.9rem;
  }

  .image {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }

  .main {
    width: 100%;
  }
  
}